

html{
	font-size:  57%;

	@include breakpoint($large-device){
		font-size:  59%;
	}

	@include breakpoint($tablet){
		font-size:  62.5%;
	}
	
}

body{
	font-size: $default-font-size;
	background-color: #CCCFD6 ;
}


h1{ 
	 
} 
 

h1, h2, h3, h4, p{ 
	position: relative;
}
